/* Remove button/input focus outlines */
*:focus{outline:none;}
button{padding:0;}
button:focus{outline:none;}
button::-moz-focus-inner{border:0;padding:0;margin-top:-2px;margin-bottom:-2px;}
input::-moz-focus-inner{border:0;padding:0;margin-top:-2px;margin-bottom:-2px;}
select:-moz-focusring {color: transparent; text-shadow: 0 0 0 rgb(0,0,0);}

/* Box-sizing */
html {box-sizing:border-box;}
*, *:before, *:after {box-sizing:inherit;}

code {
	background-color: rgb(242,242,242);
}
hr {
	margin: 20px 0;
	border: 1px solid rgb(224,224,224);
}
h1 {
	margin: 30px;
}
h2 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 36px;
}

/* Form Elements */
input, select {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 10px 0;
	padding: 0 10px;
	border: 1px solid rgb(224,224,224);
	width: 360px;
	height: 40px;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
}
textarea {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid rgb(224,224,224);
	width: 360px;
	height: 100px;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	line-height: 20px;
}
option {
	padding: 10px;
	height: 40px;
}
input[type=radio],
input[type=checkbox] {
	margin: 0 10px 10px 0;
	width: 20px;
}
input[type=radio] + label,
input[type=checkbox] + label {
	display: inline-block;
	vertical-align: top;
	width: 320px;
	height: 40px;
	line-height: 40px;
}

input:focus,
textarea:focus,
select:focus,
option:focus {
	box-shadow: 0 0 2px rgb(137, 205, 230) inset;
}
button {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	padding: 0 40px;
	width: 180px;
	height: 50px;
	border: 1px solid rgb(224,224,224);
	background-color: rgb(238,238,238);
	transition: background-color 0.1s ease-out;
	cursor: pointer;
}
button:focus {
	background-color: rgb(231,231,231);
}
button:hover {
	background-color: rgb(224,224,224);
}
button:active {
	background-color: rgb(208,208,208);
}

/* Page Specific Elements */
.module {
	display:  inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 20px;
	width: 402px;
	min-height: 200px;
	border: 1px solid rgb(224,224,224);
	background-color: rgb(252,252,252);
}

#notice, #results {
	margin-bottom: 20px;
	padding: 10px 30px;
	border: 1px solid rgb(224,224,224);
	background-color: rgb(252,252,252);
}

#notice {
	max-height: 60px;
	overflow: hidden;
	transition: max-height 0.6s ease-out, background-color 1s ease-out;
	cursor: pointer;
}
#notice:hover {
	background-color: rgb(242,242,242);
}
#notice.shown {
	max-height: 1000px;
	background-color: rgb(224,224,224);
	transition: max-height 0.5s ease-out, background-color 0.8s ease-out;
}

#notice h2:after {
	content: "";
	display: inline-block;
	vertical-align: top;
	margin: 13px 0 0 20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 5px 0 5px;
	border-color: rgb(0,0,0) transparent transparent transparent;
}
#notice.shown h2:after {
	content: "";
	border-width: 0 5px 10px 5px;
	border-color: transparent transparent rgb(0,0,0) transparent;
}

#results:hover {
	background-color: rgb(224,224,224);
	transition: background-color 1s ease-out;
}
#results > h3 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 30px;
}